{% extends "plantilla_privada.html" %}
{% load static %} 

{% block title %}

Proyecciones

{% endblock %}

{% block pagetitle %}

{# SI ES ADMINISTRADOR ############################################################}

{% if user.is_staff %}

{# CONTENIDO ADMIN ################################################################}

Gráficos de estadisticas

<a href="{% url 'proyecciones' %}"><button type="button" class="btn btn-success pull-right">Proyecciones <i class="fa fa-line-chart"></i></button></a>

{# SI TIENE PERMISO ###############################################################}

{% else %}
	{% for s in sesion.all %}
		{% if user.id = s.usuario_id %}
			{% if s.rol_id = 1 %}

{# CONTENIDO USUARIO ##############################################################}

Gráficos de estadisticas

<a href="{% url 'proyecciones' %}"><button type="button" class="btn btn-success pull-right">Proyecciones <i class="fa fa-line-chart"></i></button></a>

{# SI NO TIENE PERMISO#############################################################}

			{% else %}
				Acceso denegado
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}

{# FIN DE VALIDACION ##############################################################}

{% endblock %}

{% block content %}

<div class="container-fluid"><br>

	<div class="col-md-4"><!--RELLENO--></div>

	<div class="col-md-4">

	{# SI ES ADMINISTRADOR ############################################################}

	{% if user.is_staff %}

	{# CONTENIDO ADMIN ################################################################}

		<form class="form" method="POST" action="/estadisticas/ventas">

			{% csrf_token %}

			<div id="alertError" class="alert alert-warning" role="alert">
				<center>Ingrese un año para consultar la estadística de ventas brutas.</center>
			</div>

			<div class="col-md-10">
			<input id="id_search_venta" name="search_venta" class="form-control" type="text" maxlength="4" autocomplete="off" placeholder="Ingrese año. Ejm: 2015" data-toggle="tooltip" data-placement="top" data-original-title="Solo permite ingresar digitos">
			</div>
			<div class="col-md-2">
			<button id="btnVentaForm" type="submit" class="btn btn-md btn-danger" data-toggle="tooltip" data-placement="top" title="Buscar estadística" disabled><i class="fa fa-bar-chart"></i></i></button>
			</div>

		</form>

	{# SI TIENE PERMISO ###############################################################}

	{% else %}
		{% for s in sesion.all %}
			{% if user.id = s.usuario_id %}
				{% if s.rol_id = 1 %}

	{# CONTENIDO USUARIO ##############################################################}

		<form class="form" method="POST" action="/estadisticas/ventas">

			{% csrf_token %}

			<div id="alertError" class="alert alert-warning" role="alert">
				<center>Ingrese un año para consultar la estadística de ventas brutas.</center>
			</div>
			
			<div class="col-md-10">
			<input id="id_search_venta" name="search_venta" class="form-control" type="text" maxlength="4" autocomplete="off" placeholder="Ingrese año. Ejm: 2015" data-toggle="tooltip" data-placement="top" data-original-title="Solo permite ingresar digitos">
			</div>
			<div class="col-md-2">
			<button id="btnVentaForm" type="submit" class="btn btn-md btn-warning" data-toggle="tooltip" data-placement="top" title="Buscar estadística" disabled><i class="fa fa-bar-chart"></i></button>
			</div>

		</form>

	{# SI NO TIENE PERMISO ############################################################}

				{% else %}
					<div id="alertError" class="alert alert-danger" role="alert">
						<strong>Disculpe</strong>, usted no tiene permiso para acceder a este módulo.
					</div>

					<script type="text/javascript">
						window.setTimeout(function() {
						    window.location.href = '/dashboard';
						}, 3000);
					</script>

				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{# FIN DE VALIDACION ##############################################################}

	</div>

	<div class="col-md-4"><!--RELLENO--></div>


</div>

{% endblock %}

{% block js %}

<script type="text/javascript">
	
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

</script>

<script src="{% static 'js/validaciones/estadistica/estadisticaSearch.js' %}"></script>

{% endblock %}