{% extends "plantilla_privada.html" %}
{% load static %} 

{% block title %}

Estadísticas

{% endblock %}

{% block css %}

<link href="{% static 'morris/prettify.min.css' %}" rel="stylesheet">
<link href="{% static 'morris/morris.css' %}" rel="stylesheet">

{% endblock %}

{% block pagetitle %}

{# SI ES ADMINISTRADOR ############################################################}

{% if user.is_staff %}

{# CONTENIDO ADMIN ################################################################}

Gráficos de estadísticas

<a href="{% url 'estadisticas' %}"><button type="button" class="btn btn-danger pull-right">Volver <i class="fa fa-arrow-left"></i></button></a>

{# SI TIENE PERMISO ###############################################################}

{% else %}
	{% for s in sesion.all %}
		{% if user.id = s.usuario_id %}
			{% if s.rol_id = 1 %}

{# CONTENIDO USUARIO ##############################################################}

Gráficos de estadísticas

<a href="{% url 'estadisticas' %}"><button type="button" class="btn btn-danger pull-right">Volver <i class="fa fa-arrow-left"></i></button></a>

{# SI NO TIENE PERMISO#############################################################}

			{% else %}
				Acceso denegado
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}

{# FIN DE VALIDACION ##############################################################}

{% endblock %}

{% block content %}

<div class="container-fluid"><br>

	<div class="col-md-1"><!--RELLENO--></div>

	<div class="col-md-10">

	{# SI ES ADMINISTRADOR ############################################################}

	{% if user.is_staff %}

	{# CONTENIDO ADMIN ################################################################}

		{% if utilidad %}

			{% for u in utilidad %}

				<h2 class="help-block">Ventas brutas para el año {{u.ano}}</h2>

			{% endfor %}

		<div id="graph"></div>

			<div style="display: none;">

				<pre id="code" class="prettyprint linenums">

					{% for u in utilidad %}

						var valores = [
							{"etiqueta": "Enero",
								"utilidad": {% if u.ene == None %}null{%else%}{{u.ene}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Febrero",
								"utilidad": {% if u.feb == None %}null{%else%}{{u.feb}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Marzo",
								"utilidad": {% if u.mar == None %}null{%else%}{{u.mar}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Abril",
								"utilidad": {% if u.abr == None %}null{%else%}{{u.abr}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Mayo",
								"utilidad": {% if u.may == None %}null{%else%}{{u.may}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Junio",
								"utilidad": {% if u.jun == None %}null{%else%}{{u.jun}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Julio",
								"utilidad": {% if u.jul == None %}null{%else%}{{u.jul}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Agosto",
								"utilidad": {% if u.ago == None %}null{%else%}{{u.ago}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Septiembre",
								"utilidad": {% if u.sep == None %}null{%else%}{{u.sep}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Octubre",
								"utilidad": {% if u.oct == None %}null{%else%}{{u.oct}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Noviembre",
								"utilidad": {% if u.nov == None %}null{%else%}{{u.nov}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Diciembre",
								"utilidad": {% if u.dic == None %}null{%else%}{{u.dic}}{% endif %},
								"proyeccion": null}
						];
						Morris.Line({
							element: 'graph',
							data: valores,
							xkey: 'etiqueta',
							ykeys: ['utilidad'],
							labels: ['Utilidad Bruta (Bs)'],
							xLabelAngle: 40,
							grid: true,
							parseTime: false,
							resize: true
						});

					{% endfor %}

				</pre>

			</div>

		{% else %}

			<p>No se encontraron datos para generar el gráfico de estadisticas.</p>

		{% endif %}

	{# SI TIENE PERMISO ###############################################################}

	{% else %}
		{% for s in sesion.all %}
			{% if user.id = s.usuario_id %}
				{% if s.rol_id = 1 %}

	{# CONTENIDO USUARIO ##############################################################}

		{% if utilidad %}

			{% for u in utilidad %}

				<h2 class="help-block">Ventas brutas para el año {{u.ano}}</h2>

			{% endfor %}

		<div id="graph"></div>

			<div style="display: none;">

				<pre id="code" class="prettyprint linenums">

					{% for u in utilidad %}

						var valores = [
							{"etiqueta": "Enero",
								"utilidad": {% if u.ene == None %}null{%else%}{{u.ene}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Febrero",
								"utilidad": {% if u.feb == None %}null{%else%}{{u.feb}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Marzo",
								"utilidad": {% if u.mar == None %}null{%else%}{{u.mar}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Abril",
								"utilidad": {% if u.abr == None %}null{%else%}{{u.abr}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Mayo",
								"utilidad": {% if u.may == None %}null{%else%}{{u.may}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Junio",
								"utilidad": {% if u.jun == None %}null{%else%}{{u.jun}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Julio",
								"utilidad": {% if u.jul == None %}null{%else%}{{u.jul}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Agosto",
								"utilidad": {% if u.ago == None %}null{%else%}{{u.ago}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Septiembre",
								"utilidad": {% if u.sep == None %}null{%else%}{{u.sep}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Octubre",
								"utilidad": {% if u.oct == None %}null{%else%}{{u.oct}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Noviembre",
								"utilidad": {% if u.nov == None %}null{%else%}{{u.nov}}{% endif %},
								"proyeccion": null},
							{"etiqueta": "Diciembre",
								"utilidad": {% if u.dic == None %}null{%else%}{{u.dic}}{% endif %},
								"proyeccion": null}
						];
						Morris.Line({
							element: 'graph',
							data: valores,
							xkey: 'etiqueta',
							ykeys: ['utilidad'],
							labels: ['Utilidad Bruta (Bs)'],
							xLabelAngle: 40,
							grid: true,
							parseTime: false,
							resize: true
						});

					{% endfor %}

				</pre>

			</div>

		{% else %}

			<p>No se encontraron datos para generar el gráfico de estadisticas.</p>

		{% endif %}

	{# SI NO TIENE PERMISO ############################################################}

				{% else %}
					<div id="alertError" class="alert alert-danger" role="alert">
						<strong>Disculpe</strong>, usted no tiene permiso para acceder a este módulo.
					</div>

					<script type="text/javascript">
						window.setTimeout(function() {
						    window.location.href = '/dashboard';
						}, 3000);
					</script>

				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{# FIN DE VALIDACION ##############################################################}

	</div>

	<div class="col-md-1"><!--RELLENO--></div>


</div>

{% endblock %}

{% block js %}

<script src="{% static 'morris/raphael-min.js' %}"></script>
<script src="{% static 'morris/morris.js' %}"></script>
<script src="{% static 'morris/prettify.min.js' %}"></script>
<script src="{% static 'morris/graph.js' %}"></script>

{% endblock %}