{% extends "plantilla_privada.html" %}
{% load static %} 

{% block title %}

Estadisticas

{% endblock %}

{% block css %}

<link href="{% static 'morris/prettify.min.css' %}" rel="stylesheet">
<link href="{% static 'morris/morris.css' %}" rel="stylesheet">

{% endblock %}

{% block pagetitle %}

Gráficos de estadisticas

{% endblock %}

{% block content %}

<div class="container-fluid"><br>

	<div class="col-md-4"><!--RELLENO--></div>

	<div class="col-md-4">

		<form class="form-inline" method="POST" action="/estadisticas/ventas">

			{% csrf_token %}
			
			<input id="id_search_venta" name="search_venta" class="form-control" type="text" maxlength="4" autocomplete="off" placeholder="Ingrese año. Ejm: 2015" data-toggle="tooltip" data-placement="top" data-original-title="Solo permite ingresar digitos">
			<button type="submit" class="btn btn-md btn-warning" data-toggle="tooltip" data-placement="top" title="Buscar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

		</form>

	</div>

	<div class="col-md-4"><!--RELLENO--></div>


</div>

{% endblock %}

{% block js %}

<script type="text/javascript">
	
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

</script>

<script src="{% static 'morris/raphael-min.js' %}"></script>
<script src="{% static 'morris/morris.js' %}"></script>
<script src="{% static 'morris/prettify.min.js' %}"></script>
<script src="{% static 'morris/graph.js' %}"></script>

{% endblock %}