{% load static %} 
<!DOCTYPE html>
<html lang="es">
	<head>

		<!-- META
		================================================== -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Language" content="es">
		<meta name="Author" content="Joab González | Leonardo Arellano">
		<meta name="Copyright" content="© Joab González | Leonardo Arellano">
		{% block meta %}

		<!-- Etiquetas meta -->

		{% endblock %}

		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>{% block title %}<!-- Titulo -->{% endblock %}</title>

		<!-- CSS
		================================================== -->
		<!-- Bootstrap Core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- SB-Admin CSS -->
		<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
		<!-- Morris Charts CSS -->
		<link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<!-- Estilos personalizados -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<style type="text/css" >
			.navbar-default{
				background-color: #E6E6E6;
				border-color: #BDBDBD;
			}
			.navbar-nav{
				background-color: #E6E6E6;
				border-color: #BDBDBD;
			}
			body {
				background-color: #FFF;
			}
		</style>

		{% block css %}

		<!-- Estilos -->

		{% endblock %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">

			<!-- NAVBAR
			================================================== -->
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Menú Principal</a>
				</div>
				<!-- MENU DEL NAV BAR HORIZONTAL -->
				<ul class="nav navbar-right top-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Leonardo Arellano <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"><i class="fa fa-fw fa-user"></i>Perfil</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- MENU VERTICAL IZQUIERDO-->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav">
						<!-- SUBMENU DE PRODUCTO-->
						<li>
							<a href="/lista_producto"><i class="fa fa-shopping-cart"></i> Productos </i></a>                        
						</li><!-- END SUBMENU DE PRODUCTO-->

						<!-- SUBMENU DE USUARIOS-->
						<li>
							<a href="#"><i class="fa fa-users"></i> Usuarios</a>
						</li> <!-- END SUBMENU DE USUARIOS-->
						
						<!-- AQUI VAN LAS VALIDACIONES DE SESIONES-->
						<li><!-- SUBMENU DE GRAF y PROYE-->
							<a href="javascript:;" data-toggle="collapse" data-target="#grafprojlabel"><i class="fa fa-area-chart"></i> Gráficos y Proyecciones <i class="fa fa-fw fa-caret-down"></i>
							</a>
							<ul id="grafprojlabel" class="collapse">
								<li>
									<a href="#"><i class="fa fa-bar-chart"></i> Gráficos</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-line-chart"></i> Proyecciones</a>
								</li>
							</ul>
						</li><!-- END SUBMENU DE GRAF y PROYE-->

						<li><!-- SUBMENU DE PERSONAL-->
							<a href="#"><i class="fa fa-male"></i> Personal</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-usd"></i> Ventas</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-book"></i> Inventario</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

			<div id="page-wrapper"> 
				{% block content %}

				<!-- Contenido -->

				{% endblock %}                
			</div>
		</div>

		<!-- FOOTER -->

		<br><br>

		<footer class="footer">

			<div class="container">

				<p class="text-muted" align="center">&copy; Picnikki y Asociados C.A. &middot; 2015 </p>

			</div>

		</footer>

		<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Morris Charts JavaScript -->
		<script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
		<script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
		<script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

		{% block js %}

		<!-- Javascript -->

		{% endblock %}

	</body>
</html>