{% extends "plantilla.html" %}

{% block content %}

   
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4"><h2> Registro de Productos </h2></div>
                    </div>
                    <br></br>
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label>Código del Producto:</label></div> 
                            <div class="col-md-1"><input id="cod_prod" maxlength="10" name="cod_prod" type="text"/></div>
                            <br></br>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label for="nb_prod">Nombre del Producto:</label></div>
                            <div class="col-md-1"><input id="nb_prod" maxlength="100" name="nb_prod" type="text"/></div>
                            <br></br>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label for="id_tipo_prod">Tipo de Producto:</label></div> 
                            <div class="col-md-1"><input id="id_tipo_prod" name="id_tipo_prod" type="text"></div>
                            <br></br>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label for="id_desc_prod">Descripción:</label></div> 
                            <div class="col-md-1"><textarea cols="22" id="id_desc_prod" name="desc_prod" rows="1"></textarea></div>
                            <br></br>
                            <div class="col-md-2"></div>   
                            <div class="col-md-2"><label for="recio_prod">Precio del Producto:</label></div>
                            <div class="col-md-1"><input id="precio_prod" name="precio_prod" placeholder="Bs.12,3" step="any" type="text" onkeypress="return justNumbers(event);"/></div><br></br>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label for="iva">IVA:</label></div> 
                            <div class="col-md-1"><input id="iva" name="iva" type="text"></div>
                            <br></br>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><label for="status">Estatus:</label></div> 
                            <div class="col-md-1"><input id="status" name="status" type="text"></div>
                            </div>
                            <br></br><br></br>
                            <div class="col-md-5"></div> 
                            <div class="col-md-1"><input type="submit" class="btn btn-success" value="submit"></div>
                            <div class="col-md-1"><a href="/lista_producto"><button type="button" class="btn btn-danger">Cancelar</button></a></div>
                     </form>           
                    
                    <br></br>
            </div>


{% endblock %}  

{% block footer %}

    <script type="text/javascript" charset="utf-8">
    function justNumbers(e)
    {
    var keynum = window.event ? window.event.keyCode : e.which;
    if ((keynum == 8) || (keynum == 46))
    return true;
 
    return /\d/.test(String.fromCharCode(keynum));
    }
    </script>
{% endblock %}
