{% extends "plantilla_privada.html" %}

{% block title %}

Picnikki | Home   

{% endblock %}

{% block pagetitle %}

Dashboard

{% endblock %}

{% block content %}

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Clientes</h3>
		</div>
		<div class="panel-body">
			
			{% if cliente %}
	
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Cliente</th>
							<th scope="col">Teléfono Principal</th>
							<th scope="col">Correo Electrónico</th>	
						</tr>
					</thead>

					<tbody>
					{% for c in cliente %}

						{% if forloop.counter <= 3 %}

							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ c.cliente|capfirst }}</td>
								<td>{{ c.telefono_1 }}</td>
								<td>{{ c.correo }}</td>
							</tr>

						{% endif %}
					
					{% endfor %}
					</tbody>

				</table>
			
			{% else %}

				<p>No se ha registrado ningún cliente.</p>

			{% endif %}
			
			<a href="{% url 'lista_clientes' %}"><button type="button" class="btn btn-success pull-right">Ver clientes <i class="fa fa-book"></i></button></a>
		</div>
	</div>
</div>


<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Productos</h3>
		</div>
		<div class="panel-body">
			
			{% if producto %}

				<table class="table table-striped">

					<thead>
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Código</th>
							<th scope="col">Producto</th>
							<th scope="col">Precio unitario (Bs)</th>
						</tr>
					</thead>

					<tbody>
					{% for p in producto %}

					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ p.codigo }}</td>
						<td>{{ p.producto|capfirst }}</td>
						<td>{{ p.precio_unitario }}</td>
					</tr>

					{% endfor %}
					<tbody>

				</table>

			{% else %}

				<p>No se ha registrado ningún producto.</p>

			{% endif %}

			<a href="{# url 'lista_productos' #}"><button type="button" class="btn btn-success pull-right">Ver productos <i class="fa fa-shopping-cart"></i></button></a>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Ventas</h3>
		</div>
		<div class="panel-body">
			
			{% if cliente %}
	
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Cliente</th>
							<th scope="col">Teléfono Principal</th>
							<th scope="col">Correo Electrónico</th>	
						</tr>
					</thead>

					<tbody>
					{% for c in cliente %}

						{% if forloop.counter <= 3 %}

							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ c.cliente|capfirst }}</td>
								<td>{{ c.telefono_1 }}</td>
								<td>{{ c.correo }}</td>
							</tr>

						{% endif %}
					
					{% endfor %}
					</tbody>

				</table>
			
			{% else %}

				<p>No se ha registrado ningún cliente.</p>

			{% endif %}

			<a href="{# url '' #}"><button type="button" class="btn btn-success pull-right">Ver ventas <i class="fa fa-usd"></i></button></a>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Inventario</h3>
		</div>
		<div class="panel-body">
			
			{% if cliente %}
	
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Cliente</th>
							<th scope="col">Teléfono Principal</th>
							<th scope="col">Correo Electrónico</th>	
						</tr>
					</thead>

					<tbody>
					{% for c in cliente %}

						{% if forloop.counter <= 3 %}

							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ c.cliente|capfirst }}</td>
								<td>{{ c.telefono_1 }}</td>
								<td>{{ c.correo }}</td>
							</tr>

						{% endif %}
					
					{% endfor %}
					</tbody>

				</table>
			
			{% else %}

				<p>No se ha registrado ningún cliente.</p>

			{% endif %}

			<a href="{# url '' #}"><button type="button" class="btn btn-success pull-right">Ver inventario <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></button></a>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Estadisticas</h3>
		</div>
		<div class="panel-body">
			
			<br><br><br><br><br><br><br><br>

			<a href="{# url '' #}"><button type="button" class="btn btn-success pull-right">Ver estadisticas <i class="fa fa-bar-chart"></i></button></a>
		</div>
	</div>
</div>

{% endblock %}