{% extends "plantilla_privada.html" %}

{% block title %}

Empleados

{% endblock %}

{% block pagetitle %}

Listado de Empleados

<a href="{% url 'registro_empleados' %}"><button type="button" class="btn btn-primary pull-right">Nuevo Empleado <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>

{% endblock %}

{% block content %}

<div class="container-fluid"><br>

	<div class="col-md-1"><!--RELLENO--></div>

	<div class="col-md-10">

	{% if empleado %}
	
		<table class="table">

			<tr class="info">
				<th scope="col">ID</th>
				<th scope="col">Primer nombre</th>
				<th scope="col">Segundo nombre</th>
				<th scope="col">Primer apellido</th>
				<th scope="col">Segundo apellido</th>
				<th scope="col">Teléfono</th>
				<th scope="col">Móvil</th>
				<th></th>
			</tr>

			{% for e in empleado %}

			<tr>
				<td>{{ e.id_empleado }}</td>
				<td>{{ e.nb_1|capfirst }}</td>
				<td>{{ e.nb_2|capfirst }}</td>
				<td>{{ e.ap_1|capfirst }}</td>
				<td>{{ e.ap_2|capfirst }}</td>
				<td>{{ e.tlf1 }}</td>
				<td>{{ e.cel }}</td>
				<td>
					<a href="{% url 'editar_empleados' e.id_empleado %}"><button type="button" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>&nbsp;
					<a href="{% url 'eliminar_empleados' e.id_empleado %}"><button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
				</td>
			</tr> 

			{% endfor %}

		</table>

	{% else %}

		<p>No se ha registrado ningún empleado.</p>

	{% endif %}

	</div>

	<div class="col-md-1"><!--RELLENO--></div>
	
</div>

{% endblock %}
