{% extends "plantilla_publica.html" %}
{% load static %}

{% block title %}

Picknikki

{% endblock %}

{% block css %}

<style type="text/css">

	.input-group-addon {
		    background-color: #111;
		    border: 1px solid #000;
		    color: #555;
	}

	input:focus { 
    	border-color: #eea236 !important;
	}

</style>
	
{% endblock %}

{% block content %}

{% if form.errors %}

<div class="col-md-3"></div>

<div class="col-md-6">

<div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 80px">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Su usuario y contraeña no coinciden. Intente de nuevo.
</div>

</div>

<div class="col-md-3"></div>

{% endif %}

<div class="jumbotron">
	<div style="padding-top: 40px">
		<div class="container">
			<center>
			<img src="{% static 'img/loogo_picnikki_shadow.png' %}" alt="Imagen 1" width="900px" height="300px" />
			</center>
			<span class="text-muted text-center">
			<p class="lead"><strong>Pensando en ti</strong>, mostrando una alternativa sana y nutritiva<br> para personas de todas las edades fuera del cine y <br>acompañada de muchas emociones.</p>
			</span>
		</div>
	</div>
</div>

<!-- DESCRIPCION
================================================== -->
<div class="container">

	<div class="row featurette" style="padding-bottom: 120px">

		<div class="col-md-8">

			<h2 class="featurette-heading"> Misión </h2>

			<p class="lead text-justify">El consumo tradicional de las cotufas es relacionado con el cine, la empresa ha desarrollado un proyecto para crear un concepto diferente del consumo masivo de cotufas y la distribución del producto, teniendo en cuenta que es un alimento 100% recomendado a nivel nutricional y que le gusta a todas las personas de cualquier edad.<br><br>La empresa desarrolló un procedimiento que le da durabilidad crujiente en empaques individuales para que lo puedan adquirir en cualquier lugar, actualmente se distribuye en la zona metropolitana de caracas. El emprendimiento de sus socios es darles a las personas una alternativa de merienda natural.</p>

		</div>

		<div class="col-md-4" style="padding-top: 100px">

			<img class="featurette-image img-responsive center-block img-circle" src="{% static 'img/mision.jpg' %}" alt="Imagen 1" width="200px" height="20px" >

		</div>

	</div>

</div>
<div class="jumbotron">

	<div class="container">

		<div class="row featurette" style="padding-bottom: 120px">

			<div class="col-md-8 col-md-push-4">

				<h2 class="featurette-heading"> Visión </h2>

				<p class="lead text-justify">La empresa aspira a posesionarse del mercado alternativo de meriendas a nivel nacional e inclusive a nivel internacional, Picnikki quiere que las cotufas se puedan adquirir de diferentes de sabores y tamaños de empaque, para consentir a nuestros clientes, teniendo como norte el buen servicio, contando con una buena red de distribución y comercialización.</p>

			</div>

			<div class="col-md-4 col-md-pull-8" style="padding-top: 100px">
			
				<img class="featurette-image img-responsive center-block img-circle" src="{% static 'img/vision.jpg' %}" alt="Imagen 2" width="200px" height="20px">

			</div>

		</div>

	</div>

</div>

{% endblock %}