{% extends "plantilla_publica.html" %}
{% load static %}

{% block title %}

Inicio de sesión

{% endblock %}

{% block content %}

<br><br><br><br>

<div class="container">

	<div class="col-md-3"></div>

	<div class="col-md-6">

		<div class="jumbotron">

			{% if form.errors %}

			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Su usuario y contraeña no coinciden. Intente de nuevo.
			</div>

			{% endif %}

			{% if user.is_authenticated %}

			<p>Hola!! {{user.username}}</p>

			<a href="/logout/">
			<button class="btn btn-md btn-primary btn-block" type="">Salir</button>
			</a>

			{% else %}

			<form class="form-signin" method="POST">

				{% csrf_token %}

				<center><img src="{% static 'img/logo.png' %}" alt="Imagen 1" width="70px" height="90px" /></center>

				<br>

				<div id="" class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
						<input id="id_username" name="username" type="text" class="form-control" placeholder="Usuario"/>
					</div>
				</div>

				<div id="" class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
						</div>
						<input id="id_password" name="password" type="password" class="form-control"placeholder="Contraseña"/>
					</div>
				</div>

				<button class="btn btn-md btn-primary btn-block" type="submit">Ingresar</button>

			</form>

			{% endif %}

		</div>

	</div>

	<div class="col-md-3"></div>

</div> <!-- /container -->

{% endblock %}