{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>

		<!-- META
		================================================== -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Language" content="es">
		<meta name="Author" content="Joab González | Leonardo Arellano">
		<meta name="Copyright" content="© Joab González | Leonardo Arellano">
		{% block meta %}

		<!-- Etiquetas meta -->

		{% endblock %}

		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>Picnikki | {% block title %}<!-- Titulo -->{% endblock %}</title>

		<!-- FAVICON
		================================================== -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

		<!-- CSS
		================================================== -->
		<!-- Bootstrap Core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Dashboard CSS -->
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
		<!-- Estilos personalizados -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		{% block css %}

		<!-- Estilos -->

		{% endblock %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- NAVBAR
		================================================== -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="" href="{% url 'dashboard' %}"><img src="{% static 'img/logo_picnikki.png' %}" alt="Imagen 1" width="150px" height="50px" /></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown {% if request.resolver_match.url_name == 'ver_perfil' or request.resolver_match.url_name == 'editar_perfil' %}active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									{% if user.is_staff %}
										{{user.username|upper}} (ADMIN)
									{% else %}
										{{user.username|upper}}
									{% endif %}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
								{% if user.is_staff %}
									<a href="/admin" target="_blank"><i class="fa fa-fw fa-cog"></i> Administración</a>
								{% elif request.resolver_match.url_name == 'ver_perfil' or request.resolver_match.url_name == 'editar_perfil' %}
									<a href="{% url 'ver_perfil' usuario.id_usuario %}"><i class="fa fa-fw fa-user"></i>Perfíl</a>
								{% else %}
									{% for u in usuario.all %}
										{% if user.id == u.usuario_id %}
											<a href="{% url 'ver_perfil' u.id_usuario %}"><i class="fa fa-fw fa-user"></i>Perfíl</a>
										{% endif %}
									{% endfor %}
								{% endif %}
								</li>
								<li class="divider"></li>
								<li>
									<a href="{% url 'logout'%}"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
								</li>
							</ul>
						</li>
			 		</ul>
				</div>
			</div>
		</nav>


		<!-- PANEL DE NAVEGACION
		================================================== -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<center>{{now|date:"D"}}, {{now|date:"j"}} de {{now|date:"M"}}</center><hr id="menuhr">
						{% if user.is_staff %}
							{# dashboard #}
							<li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
								<a href="{% url 'dashboard'%}"><i class="fa fa-home"></i> Inicio </a>
							</li>
							{# usuarios #}
							<li class="{% if request.resolver_match.url_name == 'lista_usuarios' or request.resolver_match.url_name == 'ver_usuarios' or request.resolver_match.url_name == 'registro_usuarios' or request.resolver_match.url_name == 'editar_usuarios' or request.resolver_match.url_name == 'eliminar_usuarios'%}active{% endif %}">
								<a href="{% url 'lista_usuarios'%}"><i class="fa fa-users"></i> Usuarios </a>
							</li>	
							{# clientes #}
							<li class="{% if request.resolver_match.url_name == 'lista_clientes' or request.resolver_match.url_name == 'ver_cliente' or request.resolver_match.url_name == 'registro_clientes' or request.resolver_match.url_name == 'editar_clientes' or request.resolver_match.url_name == 'eliminar_clientes'%}active{% endif %}">
								<a href="{% url 'lista_clientes'%}"><i class="fa fa-book"></i> Clientes </a>
							</li>
							{# prducto #}
							<li class="{% if request.resolver_match.url_name == 'lista_productos' or request.resolver_match.url_name == 'ver_productos' or request.resolver_match.url_name == 'registro_productos' or request.resolver_match.url_name == 'editar_productos' or request.resolver_match.url_name == 'eliminar_productos' %}active{% endif %}">
								<a href="{% url 'lista_productos'%}"><i class="fa fa-shopping-cart"></i> Productos </a>
							</li>
							{# inventario #}
							<li class="{% if request.resolver_match.url_name == 'inventario' or request.resolver_match.url_name == 'editar_inventario' or request.resolver_match.url_name == 'agregar_inventario' %}active{% endif %}">
								<a href="{% url 'inventario' %}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></i> Inventario </a>
							</li>
							{# ventas #}
							<li class="{% if request.resolver_match.url_name == 'lista_ventas' or request.resolver_match.url_name == 'ver_ventas' or request.resolver_match.url_name == 'registro_ventas' or request.resolver_match.url_name == 'editar_ventas' or request.resolver_match.url_name == 'eliminar_ventas' %}active{% endif %}">
								<a href="{% url 'lista_ventas'%}"><i class="fa fa-usd"></i> Ventas </a>
							</li>
							{# estadistica #}
							<li class="{% if request.resolver_match.url_name == 'estadisticas' %}active{% endif %}">
								<a href="{% url 'estadisticas'%}"><i class="fa fa-bar-chart"></i> Estadísticas </a>
							</li>
							{# empleados #}
							<li class="{% if request.resolver_match.url_name == 'lista_empleados' or request.resolver_match.url_name == 'ver_empleados' or request.resolver_match.url_name == 'registro_empleados' or request.resolver_match.url_name == 'editar_empleados' or request.resolver_match.url_name == 'eliminar_empleados' %}active{% endif %}">
								<a href="{% url 'lista_empleados'%}"><i class="fa fa-male"></i> Empleados </a>
							</li>					
						{% else %}
							{% for u in usuario.all %}
								{% if user.id = u.usuario_id %}
									{# dashboard #}
									<li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
										<a href="{% url 'dashboard'%}"><i class="fa fa-home"></i> Inicio </a>
									</li>
									{% if u.rol_id == 1 %}
									{# usuarios #}
										<li class="{% if request.resolver_match.url_name == 'lista_usuarios' or request.resolver_match.url_name == 'ver_usuarios' or request.resolver_match.url_name == 'registro_usuarios' or request.resolver_match.url_name == 'editar_usuarios' or request.resolver_match.url_name == 'eliminar_usuarios'%}active{% endif %}">
											<a href="{% url 'lista_usuarios'%}"><i class="fa fa-users"></i> Usuarios </a>
										</li>
									{% endif %}
									{# clientes #}
									<li class="{% if request.resolver_match.url_name == 'lista_clientes' or request.resolver_match.url_name == 'ver_cliente' or request.resolver_match.url_name == 'registro_clientes' or request.resolver_match.url_name == 'editar_clientes' or request.resolver_match.url_name == 'eliminar_clientes'%}active{% endif %}">
										<a href="{% url 'lista_clientes'%}"><i class="fa fa-book"></i> Clientes </a>
									</li>
									{# prducto #}
									<li class="{% if request.resolver_match.url_name == 'lista_productos' or request.resolver_match.url_name == 'ver_productos' or request.resolver_match.url_name == 'registro_productos' or request.resolver_match.url_name == 'editar_productos' or request.resolver_match.url_name == 'eliminar_productos' %}active{% endif %}">
										<a href="{% url 'lista_productos'%}"><i class="fa fa-shopping-cart"></i> Productos </a>
									</li>
									{# inventario #}
									<li class="{% if request.resolver_match.url_name == 'inventario' or request.resolver_match.url_name == 'editar_inventario' or request.resolver_match.url_name == 'agregar_inventario' %}active{% endif %}">
										<a href="{% url 'inventario' %}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></i> Inventario </a>
									</li>
									{# ventas #}
									<li class="{% if request.resolver_match.url_name == 'lista_ventas' or request.resolver_match.url_name == 'ver_ventas' or request.resolver_match.url_name == 'registro_ventas' or request.resolver_match.url_name == 'editar_ventas' or request.resolver_match.url_name == 'eliminar_ventas' %}active{% endif %}">
										<a href="{% url 'lista_ventas'%}"><i class="fa fa-usd"></i> Ventas </a>
									</li>
									{% if u.rol_id == 1 %}
										{# estadistica #}
										<li class="{% if request.resolver_match.url_name == 'estadisticas' or request.resolver_match.url_name == 'estadisticas_ventas' %}active{% endif %}">
											<a href="{% url 'estadisticas'%}"><i class="fa fa-bar-chart"></i> Estadísticas </a>
										</li>
										{# empleados #}
										<li class="{% if request.resolver_match.url_name == 'lista_empleados' or request.resolver_match.url_name == 'ver_empleados' or request.resolver_match.url_name == 'registro_empleados' or request.resolver_match.url_name == 'editar_empleados' or request.resolver_match.url_name == 'eliminar_empleados' %}active{% endif %}">
											<a href="{% url 'lista_empleados'%}"><i class="fa fa-male"></i> Empleados </a>
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="col-md-10 col-md-offset-2 main">
					<h1 class="page-header">
					<div class="col-md-1"></div>
					{% block pagetitle %}<!--Titulo de la pagina-->{% endblock %}</h1>

					{% block content %}

					<!-- Contenido -->

					{% endblock %}
				</div>
			</div>
		</div>

		<!-- JS
		================================================== -->
		<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
		<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
		<script src="{% static 'js/jquery.numeric.min.js' %}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		{% block js %}

		<!-- Javascript -->

		{% endblock %}

	</body>
</html>