{% extends "plantilla_privada.html" %}
{% load static %}

{% block title %}

Ventas

{% endblock %}

{% block pagetitle %}

Registro de venta 

{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="col-md-3"><!--RELLENO--></div>

	<div class="col-md-6">

		<form id="id_form" method="POST">

			{% csrf_token %}

			{{form.as_p}}

			<br>
			<button id="btnReg" type="submit" class="btn btn-success pull-right" style="margin: 2px"> Registrar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
			<a href="/productos"><button type="button" class="btn btn-danger pull-right" style="margin: 2px"> Cancelar <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>

		</form>
		
	</div>

	<br> 

	<div class="col-md-2">

		<a href="{% url 'registro_clientes'%}" type="button" class="btn btn-default btn-circle"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

	</div>

	<div class="col-md-1"><!--RELLENO--></div>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/ventaReg-ajax.js' %}"></script>

{% endblock %}