{% extends "plantilla_privada.html" %}
{% load static %}

{% block title %}

Productos

{% endblock %}

{% block pagetitle %}

Registrar producto

{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="col-md-3"><!--RELLENO--></div>

	<div class="col-md-6">

		<form method="POST">

			{% csrf_token %}

			{% if form.codigo.errors %}

				<div id="alertError" class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Ya existe un producto registrado con este código.
				</div>

			{% endif %}

			<p>{{form.codigo.label_tag}}{{form.codigo}}
			<p>{{form.producto.label_tag}}{{form.producto}}
			<p>{{form.tipo_producto.label_tag}}{{form.tipo_producto}}
			<p>{{form.descripcion.label_tag}}{{form.descripcion}}
			<p>{{form.precio_unitario.label_tag}}{{form.precio_unitario}}
			<p class="help-block"><strong>Nota:</strong> Los campos marcados con asterisco (*) son obligatorios.</p>

			<br>
			<button id="btnForm" type="submit" class="btn btn-success pull-right" style="margin: 2px" disabled> Registrar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
			<a href="{% url 'lista_productos' %}"><button type="button" class="btn btn-danger pull-right" style="margin: 2px"> Cancelar <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>

		</form>

	</div>

	<div class="col-md-2"><!--RELLENO--></div>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/validaciones/producto/productoReg.js' %}"></script>

{% endblock %}