{% extends "plantilla_privada.html" %}

{% block title %}

Productos

{% endblock %}

{% block pagetitle %}

Listado de productos

<a href="{% url 'registro_productos'%}"><button type="button" class="btn btn-success pull-right">Registrar <i class="fa fa-shopping-cart"></i></button></a>

{% endblock %}

{% block content %}

<div class="container-fluid"><br>

	<div class="col-md-1"><!--RELLENO--></div>

	<div class="col-md-10">

	{% if producto %}

		<table class="table table-striped">

			<thead>
				<tr>
					<th scope="col">Nº</th>
					<th scope="col">Código</th>
					<th scope="col">Producto</th>
					<th scope="col">Precio unitario (Bs)</th>
					<th>Acciones</th>
				</tr>
			</thead>

			<tbody>
			{% for p in producto %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><strong>{{ p.codigo }}</strong></td>
					<td>{{ p.producto|capfirst }}</td>
					<td>{{ p.precio_unitario }}</td>
					<td>
						{% if user.is_staff %}
							<a href="{% url 'ver_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Ver"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
							<a href="{% url 'editar_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
							<a href="{% url 'eliminar_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
						{% else %}
							{% for s in sesion.all %}
								{% if user.id = s.usuario_id %}
								<a href="{% url 'ver_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Ver"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
									{% if user.is_staff or s.rol_id == 1 %}
										<a href="{% url 'editar_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
										<a href="{% url 'eliminar_productos' p.id_producto %}"><button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			<tbody>

		</table>

	{% else %}

		<p>No se ha registrado ningún producto.</p>

	{% endif %}

	</div>

	<div class="col-md-1"><!--RELLENO--></div>

</div>

{% endblock %} 

{% block js %}

<script type="text/javascript">
	
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

</script>
	
{% endblock %}