{% extends "plantilla_privada.html" %}
{% load static %}

{% block title %}

Usuarios

{% endblock %}

{% block pagetitle %}

Editar Usuario

{% endblock %}

{% block content %}

<div class="container">

	<div class="col-md-3"><!--RELLENO--></div>

	<div class="col-md-6">

		<form method="POST">

			{% csrf_token %}

			{{ form.as_p }}
			
			<p class="help-block"><strong>Nota:</strong> Los campos marcados con asterisco (*) son obligatorios.</p>

			<br>
			<button id="btnForm" type="submit" class="btn btn-success pull-right" style="margin: 2px" disabled> Guardar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
			<a href="{% url 'lista_usuarios' %}"><button type="button" class="btn btn-danger pull-right" style="margin: 2px"> Cancelar <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>

		</form>

	</div>

	<div class="col-md-3"><!--RELLENO--></div>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/validaciones/usuario/usuarioEdit.js' %}"></script>

{% endblock %}