{% extends "plantilla_privada.html" %}

{% block title %}

Venta

{% endblock %}

{% block pagetitle %}

Registro de Venta 

{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="col-md-3"><!--RELLENO--></div>

	<div class="col-md-6">


		<form method="POST">

			{% csrf_token %}

			{{form.as_p}}

			<div class="col-md-12">

				<button type="submit" class="btn btn-success pull-right" style="margin: 2px"> Registrar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
				<a href="{% url 'registro_ventas'%}"><button type="button" class="btn btn-danger pull-right" style="margin: 2px"> Cancelar <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>

			</div>

		</form>

	</div><br>

	<div class="col-md-2"><a href="/clientes" type="button" class="btn btn-success">+</a>
	</div>	

		<!--<div class="modal fade" id="clientemodal" tabindex="-1" role="dialog" aria-labelledby="clientemodallabe">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="exampleModalLabel">Registar Cliente</h4>
				      </div>
				      <div class="modal-body">
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Recipient:</label>
				            <input type="text" class="form-control" id="recipient-name">
				          </div>
				          <div class="form-group">
				            <label for="message-text" class="control-label">Message:</label>
				            <textarea class="form-control" id="message-text"></textarea>
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Send message</button>
				      </div>
				    </div>
				  </div>
				</div>-->
		<div class="col-md-2"><!--RELLENO--></div>

</div>

{% endblock %}