{% extends "plantilla_privada.html" %}


{% block title %}

Usuarios

{% endblock %}

{% block pagetitle %}

Registro de usuario

{% endblock %}


{% block content %}

<div class="container">

	<div class="col-md-2"></div>

	<div class="col-md-4">

		<form method="POST">

			{% csrf_token %}

			<div id="" class="form-group">
				<label for="id_nombres">Nombres:</label>
				<input id="id_nombres" class="form-control" maxlength="50" name="nombres" type="text" placeholder="Ingrese nombres" />
				<span id="" class=""></span>
			</div>

			<div id="" class="form-group">
				<label for="id_apellidos">Apellidos:</label>
				<input id="id_apellidos" class="form-control" maxlength="50" name="apellidos" type="text" placeholder="Ingrese apellidos"/>
				<span id="" class=""></span>
			</div>

			<div id="" class="form-group">
				<label for="id_correo_electronico">Correo electrónico:</label>
				<input id="id_correo_electronico" class="form-control" maxlength="50" name="correo_electronico" type="email" placeholder="Ingrese correo electrónico"/>
				<span id="" class=""></span>
			</div>

			<hr>

			{% if form.username.errors %}

			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				usuario
			</div>

			{% endif %}

			<div id="" class="form-group">
				<label for="id_username">Nombre de usuario:</label>
				<input id="id_username" class="form-control" maxlength="30" name="username" type="text" placeholder="Ingrese usuario"/>
				<span id="" class=""></span>
				<span class="help-block">30 caracteres o menos. Letras, dígitos y @/./+/-/_ solamente.</span>
			</div>

			{% if form.password1.errors %}

			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				contraseña 1
			</div>

			{% endif %}

			<div id="" class="form-group">
				<label for="id_password1">Contraseña:</label>
				<input id="id_password1" class="form-control" name="password1" type="password" placeholder="Ingrese contraseña"/>
				<span id="" class=""></span>
			</div>

			{% if form.password2.errors %}

			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				contraseña 2
			</div>

			{% endif %}

			<div id="" class="form-group">
				<label for="id_password2">Contraseña (confirmación):</label>
				<input id="id_password2" class="form-control" name="password2" type="password" placeholder="Ingrese confirmación de contraseña"/>
				<span id="" class=""></span>
			</div>

			<br>

			<button type="submit" class="btn btn-success pull-right">Registrar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
			<a href="{% url 'lista_usuarios_priv'%}"><button type="button" class="btn btn-danger pull-right" style="margin: 2px"> Cancelar <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>

		</form>

	</div>

	<div class="col-md-3"></div>

</div>

{% endblock %}

	{% block js %}

	<!-- Javascript -->

	{% endblock %}

  </body>
</html>